<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Scanning_Station.My.MySettings.FASConnectionString" connectionString="Data Source=192.168.180.9\flat;Initial Catalog=FAS;Persist Security Info=True;User ID=melekhin;Password=me1ekhin" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
